* {
    padding: none;
    margin: none;
}

#page-content {
    display: flex;
    flex-direction: column;
}

#set-grid-size {
    margin: 1vh;
    align-self: center;
}

#etch-a-sketch {
    width: 96vh;
    height: 96vh;
    display: flex;
    flex-direction: row;
    flex: none;
    justify-content: space-between;
}

.etch-a-sketch-x-item {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.etch-a-sketch-y-item {
    flex: 1 1 auto;
    background: black;
    opacity: 0;
}